<div class="auth-container">
  <div class="auth-card">

    <h2>Reset Password</h2>

    <!-- STEP 1: EMAIL -->
    <div *ngIf="step === 1">
      <div class="input-box">
        <i class="fa fa-envelope"></i>
        <input [(ngModel)]="email" placeholder="Email">
      </div>
      <button class="main-btn" (click)="sendOtp()">Send OTP</button>
    </div>

    <!-- STEP 2: OTP -->
    <div *ngIf="step === 2">
      <div class="input-box">
        <i class="fa fa-key"></i>
        <input [(ngModel)]="otp" placeholder="Enter OTP">
      </div>
      <button class="main-btn" (click)="verifyOtp()">Verify OTP</button>
    </div>

    <!-- STEP 3: RESET -->
    <div *ngIf="step === 3">
      <div class="input-box">
        <i class="fa fa-lock"></i>
        <input type="password" [(ngModel)]="password" placeholder="New Password">
      </div>
      <button class="main-btn" (click)="resetPassword()">Reset Password</button>
    </div>

  </div>
</div>