<h2>📁 Documents</h2>

<input [(ngModel)]="keyword" name="keyword" placeholder="Search documents">
<button type="button" (click)="search()">Search</button>
<p>Typed: {{ keyword }}</p>

<hr>

<div *ngFor="let doc of results" class="card">

  <div class="row">

    <!-- LEFT -->
    <div class="left">

      <h3 class="title" (click)="openFile(doc.filePath)">
        {{doc.title}}
      </h3>

      <p class="user">
        👤 {{doc.userName || 'Nani'}}
      </p>

    </div>

    <!-- RIGHT -->
    <div class="right">
      <p>{{doc.createdAt | date:'dd MMM yyyy'}}</p>
      <p>{{doc.createdAt | date:'hh:mm a'}}</p>
    </div>

  </div>

</div>